<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   	<meta charset="UTF-8">
   	<title>스프링 테스트</title>
   	<link href="/public/css/main.css" rel="stylesheet">
</head>
<body>
 	<header th:insert="header_nav.html"></header>
	
	<div class="wrap">
		<div class="input-group">
			<input id="search_area" type="text" class="searchTerm" placeholder="원하는 상품을 검색하세요." autocomplete="off">
			<button id="search_champ" type="submit" class="searchButton btn-dark">Search</button>
			<div class="searchTerm" id='autoMaker'></div>
		</div>
	</div>
		
</body>
</html>