<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 결과</title>
</head>
<body>
    <h1>결제 결과</h1>
    <div th:if="${paymentInfo != null}">
        <p>결제 ID: <span th:text="${paymentInfo['response']['imp_uid']}"></span></p>
        <p>결제 상태: <span th:text="${paymentInfo['response']['status']}"></span></p>
        <p>결제 금액: <span th:text="${paymentInfo['response']['amount']}"></span> 원</p>
    </div>
    <div th:if="${paymentInfo == null}">
        <p>결제 정보를 불러올 수 없습니다.</p>
    </div>
</body>
</html>